name: CMake Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake make g++ clang-format clang-tidy

    - name: Setup CppUTest
      run: |
        git clone https://github.com/cpputest/cpputest.git
        cd cpputest
        cmake -S . -B build
        cmake --build build
        sudo make -C build install
        cd ..

    - name: Configure project with CMake
      run: cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

    - name: Build the project
      run: cmake --build build

    - name: Run tests
      working-directory: build
      run: ctest --output-on-failure

